---
layout: default
---
<link rel="stylesheet" href="{{ "/static/css/ideal-image-slider.css" | prepend: site.baseurl }}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{ "/static/css/ideal-image-slider-theme.css"  | prepend: site.baseurl }} " type="text/css" media="screen" title="no title" charset="utf-8">

<br>
<div class="ts relaxed stackable grid">
	
	
		
	<div class="nine wide column">
		<div >
			{% assign sorted_cats = site.categories | sort %}
			{% for category in sorted_cats  %}
			<h4 class="ts dividing header">{{ category | first }}</h4>
			<div class="ts bulleted list">
				{% for post in category.last %} 
				<a class="item" href="{{ post.url }}">{{ post.title }} ({{ post.date | date:"%d/%m/%Y"}}) </a>
				{% endfor %}
			</div>
			</ul> 
			{% endfor %}
		</div>
		
		<h1>專長 (Expertise-1028test)：</h1>
		<p>通訊理論 (Communication Theory)</p>
		<p>行動寬頻系統 (Wireless Broadband)</p>
		<p>語音訊號處理 (Audio Signal Processing)</p>
		<p>深度學習 (Deep Learning)</p>
		<p>自然語言處理 (Natural Language Processing)</p>
		<br>
		<h1>研究方向 (Research Area)：</h1>
		<p>語音/語者辨識 (Speech/Speaker Recognition)</p>
		<p>語音合成 (Speech Synthesis)</p>
		<p>自然語言理解 (Natural Language Understanding)</p>
		<p>麥克風陣列信號處理 (Microphone Array Signal Processing)/p>
		<p>無線行動寬頻接取系統 (Wireless Mobile Broadband Access System)</p>
	
	</div>

<div class="seven wide column">
		<div id="slider">
			<img src="./static/image/side/6.JPG">
			<img src="./static/image/side/7.JPG">
			<img src="./static/image/side/IMG_1953.JPG">
			<img src="./static/image/side/IMG_1954.JPG">
			<img src="./static/image/side/1.jpg">
			<img src="./static/image/side/2.jpg">
			<img src="./static/image/side/3.jpg">
			<img src="./static/image/side/4.jpg">
			<img src="./static/image/cover.jpg">
		</div>
	
<!--
		<div class="ts divider"></div>

		<a class="ts negative card">
			<div class="content">
				<div class="header">Youtube 教學影片</div>
				<div class="meta"><div>線上教學影片</div></div>
				<div class="describle">點擊此按鈕以觀看</div>
			</div>
			<div class="symbol">
				<i class="youtube icon"></i>
			</div>
		</a>
		<div class="ts nomg divider"></div>
		<a class="ts info card">
			<div class="content">
				<div class="header">研究室 GitHub</div>
				<div class="meta"><div>研究室相關專案</div></div>
				<div class="describle">Fork Our on GitHub</div>
			</div>
			<div class="symbol">
				<i class="github icon"></i>
			</div>
		</a>
		
	</div>
-->
</div>
<script src="./static/js/ideal-image-slider.min.js"></script>
<script>
var slider = new IdealImageSlider.Slider({
	selector: '#slider',
	height: 200,
	interval: 4000
});
slider.start();
</script>
